<div class="container">
    <div class="jumbotron">
        <h2>Welcome To My Blog</h2>
        <a href="<%= new_user_registration_path %>" class="btn btn-success">Sign Up</a>
        <a href="<%= user_session_path %>" class="btn btn-info">Sign In</a>
    </div>
</div>