<div class="container">
<% if @article.errors.any? %>
<div class="text-danger ml-5 p-5">
  <h3><%=pluralize(@article.errors.count,'Error')%></h3>
  <ul>
      <% @article.errors.full_messages.each do |error| %>
        <li> <%= error %></li>    
      <%end%>
  </ul>
  </div>
  <%end%>
</div>